<div class="row">
  <div class="col-9">
    <table class="table table-dark table-hover table-sm">
      <thead>
        <tr>
          <th>
            Data
          </th>
          <th>
            Temp
          </th>
          <th>
            Temp min
          </th>
          <th>
            Temp max
          </th>
          <th>
            Temp odczuwalna
          </th>
          <th>
            Ciśnienie
          </th>
          <th>
            Prędkość wiatru
          </th>
          <th>
            Kierunek
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let list of main.list">
        <tr>
          <td>
            {{list.dt*1000 | date:'MMM d, y, h:mm a'}}
          </td>
          <td>
            {{list.main.temp}}
          </td>
          <td>
            {{list.main.temp_min}}
          </td>
          <td>
            {{list.main.temp_max}}
          </td>
          <td>
            {{list.main.feels_like}}
          </td>
          <td>
            {{list.main.pressure}}
          </td>
          <td>
            {{list.wind.speed}}
          </td>
          <td>
            {{list.wind.deg}}
          </td>
          <td>
            {{list.snow}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<!--  <div class="col-3" >-->
<!--    <table class="table table-dark table-hover table-sm" *ngFor="let aa of main.list">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>-->
<!--          Main-->
<!--        </th>-->
<!--        <th>-->
<!--          Description-->
<!--        </th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--        <tbody *ngFor="let xx of aa.weather">-->
<!--          <td>-->
<!--            {{xx.main}}-->
<!--          </td>-->
<!--          <td>-->
<!--            {{xx.description}}-->
<!--          </td>-->
<!--        </tbody>-->
<!--    </table>-->
<!--  </div>-->
</div>
