<div class="row">
  <div class="col-xs-12 col-lg-12">
    <form [formGroup]="placeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="row-sm-12 col-md-4 form-group">
          <label for="place-name">Nazwa</label>
          <input id="place-name" type="text" class="form-control" formControlName="name">
          <span
            *ngIf="!placeForm.get('name').valid && placeForm.get('name').touched" style="color: red">
            Pole wymagane
          </span>
        </div>
        <div class="row-sm-12 col-md-4 form-group">
          <label for="place-description">Opis</label>
          <textarea id="place-description" type="text" class="form-control" formControlName="description"></textarea>
          <span
            *ngIf="!placeForm.get('description').valid && placeForm.get('description').touched" style="color: red">
            Pole wymagane
          </span>
        </div>
        <div class="row-sm-12 col-md-4 form-group">
          <label for="place-X">Długość</label>
          <input id="place-X" type="text" class="form-control" formControlName="longitude">
        </div>
        <div class="row-sm-12 col-md-4 form-group">
          <label for="place-Y">Szerokość</label>
          <input id="place-Y" type="text" class="form-control" formControlName="latitude">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="row">
            <div class="col-sm-12 col-md-4 form-group">
              <button class="btn btn-success" type="submit"[disabled]="!placeForm.valid">Dodaj</button>
              <button class="btn btn-primary" type="button" (click)="clear()">Wyczyść</button>
              <button class="btn btn-secondary" type="button" (click)="onHideComponent()">Ukryj</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
