<div class="container">
  <app-header (citiesChange)="citiesChanged($event)"></app-header>
  <div class="row">
    <div class="col-1">asd</div>
    <div class="col-8">
      <app-world-map (showForecastRequest)="onWeatherForecastRequested($event)"
                     (emitujWspolrzedne)="onEmitujWspolrzedneRequest($event)"
                     [showCities]="changeVisibilityofCities"></app-world-map>
    </div>

  </div>
  <div class="row">
    <app-weather-forecast *ngIf="iGetBool" [wspolrzedne]="wspol"></app-weather-forecast>
  </div>
</div>


