<div class="containe-fluidr">
  <app-header (citiesChange)="citiesChanged($event)"></app-header>
  <div class="row">
    <div class="col-2">
      <app-city-detail></app-city-detail>
    </div>
    <div class="col-10">
      <app-world-map (showForecastRequest)="onWeatherForecastRequested($event)"
                     (emitCoordinates)="onCoordinatesEmitRequest($event)"
                     [showCities]="changeVisibilityOfCities"></app-world-map>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-12">
        <app-weather-forecast *ngIf="iGetBool" [obtainedCoordinates]="coordinates"></app-weather-forecast>
      </div>
    <!-- <div class="col-5">
      <app-place-list></app-place-list>
    </div> -->
  </div>
</div>


