<div class="container">
  <app-header (citiesChange)="citiesChanged($event)"></app-header>
  <div class="row">
    <div class="col-1">asd</div>
    <div class="col-8">
      <app-world-map (showForecastRequest)="onWeatherForecastRequested($event)"
                     (emitCoordinates)="onCoordinatesEmitRequest($event)"
                     [showCities]="changeVisibilityOfCities"></app-world-map>
    </div>

  </div>
  <div class="row">
    <app-weather-forecast *ngIf="iGetBool" [obtainedCoordinates]="coordinates"></app-weather-forecast>
  </div>
</div>


