
<div id="map" class="map" ></div>

<div id="popup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content"></div>
  <div>
    <app-weather-popup [coordinates]="hdms"></app-weather-popup>
  </div>
  <div class="btn-group">
    <button class="btn-primary btn-sm">Aktualna pogoda</button>
    <button class="btn-success btn-sm" (click)="onShowWeatherForecastClicked()">Prognoza pogody</button>
    <button class="btn-danger btn-sm" (click)="hideWeatherForecast()">Ukryj</button>
  </div>
</div>
