<div class="row">
  <div class="col-md-6">
    <div class="table table-dark table-hover table-sm">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Zdjęcie</th>
          <th>Detale</th>
          <th>Edytuj</th>
          <th>Usuń</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let place of places">
          <td>{{place.name}}</td>
          <td>{{place.pathToImage}}</td>
          <td>{{place.id}}</td>
          <td><button class="btn-primary btn-sm" (click)="setId(place.id)">Pokaż detale</button> </td>
          <td><button class="btn-success btn-sm">Edytuj</button> </td>
          <td><button class="btn-danger btn-sm"(click)="delete(place.id)">Usuń</button> </td>
        </tr>
      </tbody>
      <footer>
        <button class="btn-success btn-sm">Dodaj miejsce</button>
      </footer>
    </div>
  </div>
  <div class="col-md-6" *ngIf="placeId != null">
    {{placeId}}
    <app-place-detail [id]="placeId"></app-place-detail>
  </div>
</div>
